---
title: "Changelog"
weight: 1200
toc: true
docs: "DOCS-1093"
---
{% raw %}
{{< note >}}You can find the full changelog, contributor list and assets for NGINX Agent in the [GitHub repository](https://github.com/nginx/agent/releases).{{< /note >}}

See the list of supported Operating Systems and architectures in the [Technical Specifications]({{< relref "./technical-specifications.md" >}}).
{% endraw %}
---
{% if all_changes is iterable %}{% for change in all_changes %}## Release [{{ change['release_version'] }}](https://github.com/nginx/agent/releases/tag/{{ change['release_version'] }})
{% if change['changes']['🌟 Highlights'] %}
### 🌟 Highlights
{% for highlight in change['changes']['🌟 Highlights'] %}
- {{ highlight }}
{% endfor %}
{% endif %}
{% if change['changes']['🚀 Features'] %}
### 🚀 Features

This release introduces the following new features:

{% for feature in change['changes']['🚀 Features'] %}- {{ feature }}
{% endfor %}{% endif %}
{% if change['changes']['🐛 Bug Fixes'] %}
### 🐛 Bug Fixes

In this release we have resolved the following issues:

{% for fix in change['changes']['🐛 Bug Fixes'] %}- {{ fix }}
{% endfor %}{% endif %}
{% if change['changes']['📝 Documentation'] %}
### 📝 Documentation

We have made the following updates to the documentation:

{% for doc in change['changes']['📝 Documentation'] %}- {{ doc }}
{% endfor %}{% endif %}
{% if change['changes']['⬇️ Dependencies'] %}
### ⬇️ Dependencies

We have introduced the following changes to the dependencies:

{% for dep in change['changes']['⬆️ Dependencies'] %}- {{ dep }}
{% endfor %}{% endif %}
{% if change['changes']['🔨 Maintenance'] %}
### 🔨 Maintenance

We have made the following maintenance-related minor changes:

{% for maint in change['changes']['🔨 Maintenance'] %}- {{ maint }}
{% endfor %}{% endif %}
---
{% endfor %}
{% else %}
{% if all_changes %}
# Release [{{ change['release_version'] }}](https://github.com/nginx/agent/releases/tag/{{ change['release_version'] }})
{% if change['changes']['🌟 Highlights'] %}
### 🌟 Highlights
{% for highlight in change['changes']['🌟 Highlights'] %}
- {{ highlight }}
{% endfor %}{% endif %}
{% if change['changes']['🚀 Features'] %}
### 🚀 Features

This release introduces the following new features:

{% for feature in change['changes']['🚀 Features'] %}
- {{ feature }}
{% endfor %}{% endif %}
{% if change['changes']['🐛 Bug Fixes'] %}
### 🐛 Bug Fixes

In this release we have resolved the following issues:

{% for fix in change['changes']['🐛 Bug Fixes'] %}
- {{ fix }}
{% endfor %}{% endif %}
{% if change['changes']['📝 Documentation'] %}
### 📝 Documentation

We have made the following updates to the documentation:

{% for doc in change['changes']['📝 Documentation'] %}
- {{ doc }}
{% endfor %}{% endif %}
{% if change['changes']['⬇️ Dependencies'] %}
### ⬇️ Dependencies

We have introduced the following changes to the dependencies:

{% for dep in change['changes']['⬆️ Dependencies'] %}
- {{ dep }}
{% endfor %}{% endif %}
{% if change['changes']['🔨 Maintenance'] %}
### 🔨 Maintenance

We have made the following maintenance-related minor changes:

{% for maint in change['changes']['🔨 Maintenance'] %}
- {{ maint }}
{% endfor %}{% endif %}
{% endif %}{% endif %}